/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ThinItalic-webfont.eot");
}
.wrap {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-self: center;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .bg {
  position: relative;
  display: flex;
  flex-direction: column;
}
.container .bg .img {
  height: 100%;
}
.container .menu-container {
  position: fixed;
  bottom: 0;
  padding-left: 1vw;
}
.container .menu-container .menu {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}
.container .menu-container .mobile-menu {
  display: none;
}

.menu li {
  font-family: "Roboto";
  font-style: italic;
  font-size: 42px;
  color: black;
  text-align: center;
  padding: 38.5px;
  padding: 2vw;
}
.menu li a {
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  -webkit-text-stroke: 0.75px #000;
  color: transparent;
}

.desktop {
  width: 100%;
  height: 100vh;
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .desktop {
    display: none;
  }
  .mobile {
    width: 100%;
    height: 100vh;
    display: block;
  }
  .container .menu-container {
    width: 100%;
  }
  .container .menu-container .menu {
    display: none;
  }
  .container .menu-container .mobile-menu {
    display: block;
    padding-bottom: 1vh;
  }
  .container .menu-container .mobile-menu .followUs {
    display: flex;
    justify-content: space-between;
  }
  .container .menu-container .mobile-menu .followUs li {
    font-family: "Roboto";
    font-style: italic;
    color: black;
    text-align: center;
    padding: 38.5px;
    padding: 1vw;
    font-size: 42px;
    font-size: 4vh;
  }
  .container .menu-container .mobile-menu .followUs li a {
    text-decoration: none;
    color: black;
  }
}/*# sourceMappingURL=all.css.map */